{% from "util.html" import render_field %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.text, label=False, class="input-xlarge", autofocus="autofocus") }}
        <br>
        {{ render_field(form.multi_text, label=False, class="input-xlarge", autofocus="autofocus") }}
        <br>
        {{ render_field(form.submit_button, label=False, class="input-xlarge", autofocus="autofocus") }}
    </form>
    {% for comment in comments %}
        <blockquote>
            <p>{{ comment.text }}</p>
        </blockquote>
    {% endfor %}
{% endblock %}
